body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(26, 26, 26);
  width: 100vw;
  background-image: linear-gradient(
    rgb(13, 13, 13) 140px,
    rgb(26, 26, 26) 140px
  );
  height: 100vh;
}

*,
*::before,
*::after {
  box-size: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  max-width: 740px;
  width: 100%;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

input[type="checkbox"] {
  appearance: none;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 3px solid rgb(78, 168, 222);
  margin-left: 20px;
  cursor: pointer;
}

input[type="checkbox"]::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  font-size: 26px;
  overflow: hidden;
  color: white;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23FFFFFF' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' width='64px' height='64px'%3e%3cpath d='M55.211 14.629L26.125 43.715 8.789 26.379 5.961 29.207 26.125 49.371 58.039 17.457z'/%3e%3c/svg%3e");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

input[type="checkbox"]:checked::after {
  width: 30px;
  height: 30px;
}

input[type="checkbox"]:checked {
  background-color: rgb(94, 96, 206);
  border: none;
}

ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 0;
  row-gap: 15px;
}

li {
  list-style: none;
  display: flex;
  background-color: rgb(38, 38, 38);
  align-items: center;
  justify-content: flex-start;
  color: white;
  height: 56px;
  border-radius: 8px;
}

h1 {
  color: rgb(78, 168, 222) !important;
  font-weight: 900 !important;
  font-size: 40px !important;
  text-align: center;
  background-color: rgb(13, 13, 13);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1::before {
  content: "";
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='21.988770' height='36.007050' viewBox='0 0 21.9888 36.007' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdesc%3e Created with Pixso. %3c/desc%3e%3cdefs/%3e%3cpath id='Vector' d='M10.99 2.93C14.12 6.9 15.79 11.79 15.73 16.81L15.73 18.01L16.76 18.64C18.09 19.44 19.09 20.69 19.56 22.16C19.14 21.86 18.71 21.58 18.26 21.32L15.51 19.78L15.01 22.9C14.97 23.17 14.91 23.44 14.84 23.71L7.13 23.71C7.02 23.36 6.93 23.01 6.84 22.64L6.22 19.82L3.68 21.23C3.26 21.47 2.85 21.73 2.46 22.01C2.94 20.56 3.91 19.32 5.22 18.49L6.2 17.86L6.2 16.75C6.21 11.75 7.9 6.89 11 2.93L10.99 2.93ZM11 0C10.84 0 10.69 0.05 10.56 0.16L10.5 0.21C6.37 4.76 4.08 10.64 4.05 16.74C2.3 17.86 1.01 19.55 0.39 21.51C-0.23 23.48 -0.12 25.6 0.69 27.49C1.54 25.64 2.96 24.1 4.76 23.09C4.94 23.86 5.18 24.61 5.47 25.34C5.51 25.48 5.59 25.61 5.71 25.7C5.83 25.78 5.97 25.83 6.12 25.84L16.06 25.84C16.26 25.84 16.46 25.64 16.56 25.35C16.85 24.65 17.05 23.93 17.16 23.18C18.96 24.19 20.38 25.73 21.23 27.58C22.09 25.7 22.22 23.57 21.6 21.59C20.99 19.62 19.66 17.93 17.88 16.84C17.95 10.7 15.67 4.77 11.49 0.21C11.43 0.15 11.35 0.09 11.27 0.05C11.18 0.01 11.09 0 10.99 0L11 0Z' fill='%234EA8DE' fill-opacity='1.000000' fill-rule='nonzero'/%3e%3cpath id='Vector' d='M10.99 16.15C10.44 16.15 9.91 15.99 9.45 15.69C8.99 15.39 8.63 14.97 8.42 14.47C8.21 13.97 8.16 13.42 8.26 12.88C8.37 12.35 8.63 11.86 9.02 11.48C9.4 11.1 9.9 10.83 10.44 10.72C10.98 10.62 11.54 10.67 12.05 10.87C12.56 11.08 12.99 11.42 13.3 11.87C13.61 12.32 13.78 12.85 13.78 13.39C13.79 13.74 13.73 14.09 13.6 14.42C13.47 14.75 13.28 15.05 13.03 15.3C12.79 15.55 12.49 15.76 12.16 15.9C11.84 16.04 11.49 16.12 11.13 16.13C11.09 16.13 11.04 16.13 10.99 16.13L10.99 16.15Z' fill='%234EA8DE' fill-opacity='1.000000' fill-rule='nonzero'/%3e%3cpath id='Path 3417' d='M14.87 27.59C14.69 27.59 14.51 27.61 14.34 27.68C14.18 27.74 14.02 27.84 13.89 27.96C13.76 28.08 13.66 28.23 13.59 28.39C13.52 28.55 13.48 28.73 13.48 28.9L13.48 33.06C13.48 33.42 13.63 33.77 13.89 34.03C14.15 34.29 14.5 34.43 14.87 34.43C15.24 34.43 15.59 34.29 15.85 34.03C16.11 33.77 16.26 33.42 16.26 33.06L16.26 28.96C16.26 28.78 16.23 28.61 16.17 28.44C16.11 28.28 16.01 28.13 15.89 28C15.76 27.87 15.62 27.77 15.45 27.7C15.29 27.63 15.11 27.59 14.93 27.59L14.87 27.59Z' fill='%235E60CE' fill-opacity='1.000000' fill-rule='nonzero'/%3e%3cpath id='Path 3418' d='M7.13 27.59C6.95 27.58 6.77 27.61 6.6 27.67C6.43 27.73 6.27 27.83 6.14 27.95C6 28.07 5.9 28.22 5.82 28.38C5.75 28.55 5.71 28.72 5.7 28.9L5.7 33.06C5.7 33.42 5.85 33.77 6.11 34.03C6.37 34.29 6.72 34.43 7.09 34.43C7.46 34.43 7.81 34.29 8.07 34.03C8.33 33.77 8.48 33.42 8.48 33.06L8.48 28.96C8.49 28.78 8.46 28.61 8.39 28.44C8.33 28.28 8.23 28.13 8.11 28C7.99 27.87 7.84 27.77 7.67 27.7C7.51 27.63 7.33 27.59 7.16 27.59L7.13 27.59Z' fill='%235E60CE' fill-opacity='1.000000' fill-rule='nonzero'/%3e%3cpath id='Path 3419' d='M10.89 27.59C10.72 27.59 10.54 27.62 10.37 27.68C10.2 27.75 10.05 27.84 9.92 27.96C9.79 28.08 9.69 28.23 9.62 28.39C9.55 28.55 9.51 28.73 9.51 28.9L9.51 34.63C9.51 35 9.65 35.34 9.91 35.6C10.17 35.86 10.53 36 10.89 36C11.26 36 11.62 35.86 11.88 35.6C12.14 35.34 12.28 35 12.28 34.63L12.28 28.99C12.29 28.82 12.26 28.64 12.2 28.48C12.13 28.31 12.04 28.16 11.91 28.04C11.79 27.91 11.64 27.81 11.48 27.74C11.31 27.67 11.14 27.63 10.96 27.63L10.89 27.59Z' fill='%235E60CE' fill-opacity='1.000000' fill-rule='nonzero'/%3e%3c/svg%3e ");
  width: 22px;
  height: 36px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-right: 15px;
  margin-top: 15px;
}

h1 span {
  color: rgb(94, 96, 206);
}

li button {
  width: 24px;
  height: 24px;
  background-color: rgb(38, 38, 38);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.edit {
  background-image: url("data:image/svg+xml,%3Csvg width='12.000000' height='14.000000' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs/%3E%3Cpath id='矢量 52' d='M2.27 9.79L9.03 2.68L8.09 1.69L1.33 8.8L1.33 9.79L2.27 9.79ZM2.82 11.19L0 11.19L0 8.22L7.62 0.2C7.74 0.07 7.91 0 8.09 0C8.27 0 8.44 0.07 8.56 0.2L10.45 2.18C10.57 2.31 10.64 2.49 10.64 2.68C10.64 2.86 10.57 3.04 10.45 3.17L2.82 11.19L2.82 11.19ZM0 12.59L12 12.59L12 14L0 14L0 12.59Z' fill='%23808080' fill-opacity='1.000000' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
  margin-left: 20px;
}

.edit:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='12.000000' height='14.000000' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs/%3E%3Cpath id='矢量 52' d='M2.27 9.79L9.03 2.68L8.09 1.69L1.33 8.8L1.33 9.79L2.27 9.79ZM2.82 11.19L0 11.19L0 8.22L7.62 0.2C7.74 0.07 7.91 0 8.09 0C8.27 0 8.44 0.07 8.56 0.2L10.45 2.18C10.57 2.31 10.64 2.49 10.64 2.68C10.64 2.86 10.57 3.04 10.45 3.17L2.82 11.19L2.82 11.19ZM0 12.59L12 12.59L12 14L0 14L0 12.59Z' fill='%23FFFFFF' fill-opacity='1.000000' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
}

.remove:hover {
  background-image: url("data:image/svg+xml,%3Csvg class='remove_icon' width='12.000000' height='14.000000' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs/%3E%3Cpath id='Vector' d='M6.87 4.98L8.2 4.98L8.2 10.5L6.87 10.5L6.87 4.98Z' fill='%23FFFFFF' fill-opacity='1.000000' fill-rule='evenodd'/%3E%3Cpath id='Vector' d='M4.13 4.98L5.46 4.98L5.46 10.5L4.13 10.5L4.13 4.98Z' fill='%23FFFFFF' fill-opacity='1.000000' fill-rule='evenodd'/%3E%3Cpath id='Vector' d='M12 2.16C11.99 2.03 11.95 1.89 11.87 1.78C11.79 1.68 11.68 1.6 11.55 1.56C11.5 1.53 11.44 1.52 11.38 1.51L7.96 1.51C7.84 1.07 7.57 0.69 7.22 0.42C6.86 0.14 6.43 0 5.99 0C5.55 0 5.12 0.14 4.77 0.42C4.41 0.69 4.15 1.07 4.02 1.51L0.61 1.51C0.55 1.51 0.5 1.52 0.44 1.54L0.43 1.54C0.3 1.58 0.18 1.67 0.1 1.79C0.02 1.91 -0.01 2.05 0 2.2C0.01 2.34 0.06 2.48 0.16 2.59C0.25 2.69 0.38 2.76 0.52 2.79L1.2 12.53C1.21 12.91 1.36 13.27 1.61 13.54C1.87 13.81 2.21 13.97 2.58 14L9.41 14C9.77 13.98 10.12 13.81 10.37 13.54C10.63 13.27 10.77 12.91 10.79 12.53L11.47 2.79C11.61 2.77 11.75 2.7 11.84 2.58C11.94 2.46 12 2.32 12 2.16ZM5.99 1.21C6.12 1.21 6.24 1.24 6.35 1.29C6.47 1.34 6.57 1.42 6.66 1.51L5.33 1.51C5.41 1.42 5.52 1.34 5.63 1.29C5.74 1.24 5.87 1.21 5.99 1.21ZM9.41 12.79L2.58 12.79C2.5 12.79 2.37 12.65 2.36 12.44L1.69 2.81L10.3 2.81L9.62 12.44C9.61 12.65 9.49 12.79 9.41 12.79Z' fill='%23FFFFFF' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3C/svg%3E%0A");
}

.remove {
  background-image: url("data:image/svg+xml,%3Csvg class='remove_icon' width='12.000000' height='14.000000' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs/%3E%3Cpath id='Vector' d='M6.87 4.98L8.2 4.98L8.2 10.5L6.87 10.5L6.87 4.98Z' fill='%23808080' fill-opacity='1.000000' fill-rule='evenodd'/%3E%3Cpath id='Vector' d='M4.13 4.98L5.46 4.98L5.46 10.5L4.13 10.5L4.13 4.98Z' fill='%23808080' fill-opacity='1.000000' fill-rule='evenodd'/%3E%3Cpath id='Vector' d='M12 2.16C11.99 2.03 11.95 1.89 11.87 1.78C11.79 1.68 11.68 1.6 11.55 1.56C11.5 1.53 11.44 1.52 11.38 1.51L7.96 1.51C7.84 1.07 7.57 0.69 7.22 0.42C6.86 0.14 6.43 0 5.99 0C5.55 0 5.12 0.14 4.77 0.42C4.41 0.69 4.15 1.07 4.02 1.51L0.61 1.51C0.55 1.51 0.5 1.52 0.44 1.54L0.43 1.54C0.3 1.58 0.18 1.67 0.1 1.79C0.02 1.91 -0.01 2.05 0 2.2C0.01 2.34 0.06 2.48 0.16 2.59C0.25 2.69 0.38 2.76 0.52 2.79L1.2 12.53C1.21 12.91 1.36 13.27 1.61 13.54C1.87 13.81 2.21 13.97 2.58 14L9.41 14C9.77 13.98 10.12 13.81 10.37 13.54C10.63 13.27 10.77 12.91 10.79 12.53L11.47 2.79C11.61 2.77 11.75 2.7 11.84 2.58C11.94 2.46 12 2.32 12 2.16ZM5.99 1.21C6.12 1.21 6.24 1.24 6.35 1.29C6.47 1.34 6.57 1.42 6.66 1.51L5.33 1.51C5.41 1.42 5.52 1.34 5.63 1.29C5.74 1.24 5.87 1.21 5.99 1.21ZM9.41 12.79L2.58 12.79C2.5 12.79 2.37 12.65 2.36 12.44L1.69 2.81L10.3 2.81L9.62 12.44C9.61 12.65 9.49 12.79 9.41 12.79Z' fill='%23808080' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3C/svg%3E%0A");
}

.done {
  text-decoration: line-through;
  color: rgb(128, 128, 128);
}

.done .remove {
  margin-left: 45px;
}

form input {
  background-color: rgb(38, 38, 38);
  color: white;
  border: rgb(13, 13, 13);
  height: 54px;
  border-radius: 8px;
  width: 70%;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

form button {
  background-color: rgb(30, 111, 159);
  color: white;
  border: none;
  border-radius: 8px;
  width: 27%;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

form button::after {
  content: "";
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15.967285' height='15.967346' viewBox='0 0 15.9673 15.9673' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdesc%3e Created with Pixso. %3c/desc%3e%3cdefs/%3e%3cpath id='Vector' d='M7.95 1.45C9.24 1.45 10.5 1.83 11.58 2.55C12.65 3.27 13.49 4.29 13.98 5.48C14.48 6.67 14.6 7.99 14.35 9.25C14.1 10.52 13.48 11.68 12.56 12.6C11.65 13.51 10.49 14.13 9.22 14.39C7.95 14.64 6.64 14.51 5.45 14.01C4.25 13.52 3.23 12.68 2.51 11.61C1.8 10.53 1.41 9.27 1.41 7.98C1.42 6.25 2.11 4.59 3.33 3.37C4.56 2.14 6.22 1.45 7.95 1.45ZM7.95 6.1e-5C6.37 0 4.83 0.48 3.52 1.36C2.21 2.24 1.19 3.49 0.59 4.95C-0.01 6.41 -0.16 8.01 0.15 9.56C0.46 11.1 1.23 12.52 2.34 13.64C3.46 14.75 4.89 15.51 6.43 15.81C7.98 16.12 9.58 15.96 11.04 15.35C12.5 14.75 13.74 13.72 14.62 12.41C15.5 11.1 15.96 9.56 15.96 7.98C15.96 6.93 15.75 5.89 15.35 4.92C14.95 3.95 14.36 3.06 13.61 2.32C12.87 1.58 11.98 0.99 11.01 0.59C10.04 0.19 9 -0.01 7.95 6.1e-5Z' fill='%23F2F2F2' fill-opacity='1.000000' fill-rule='nonzero'/%3e%3cpath id='Vector' d='M11.67 7.38L8.46 7.38L8.46 4.16L7.38 4.16L7.38 7.38L4.16 7.38L4.16 8.46L7.38 8.46L7.38 11.67L8.46 11.67L8.46 8.46L11.67 8.46L11.67 7.38Z' fill='%23F2F2F2' fill-opacity='1.000000' fill-rule='nonzero'/%3e%3c/svg%3e ");
  width: 16px;
  height: 16px;
  display: inline-block;
}

.filter {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin-top: 16px;
  position: relative;
}

.filter button {
  border-radius: 8px;
  background-color: rgba(30, 46, 69, 1);
  color: white;
  height: 36px;
  border: none;
  font-weight: 700;
}

input::placeholder {
  transition: opacity 0.3s;
  font-size: 16px;
}

input:focus-visible {
  outline: none;
}

.input:focus::placeholder {
  opacity: 0;
}

.input {
  padding-left: 15px;
  font-size: 16px;
}

.statistics {
  color: rgb(78, 168, 222);
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.counter {
  color: white;
  background-color: rgb(51, 51, 51);
  display: inline-block;
  text-align: center;
  padding: 2px 8px 2px 8px;
  border-radius: 999px;
  margin-left: 8px;
}

li input {
  border: none;
  border-bottom: rgb(255, 255, 255) 1px solid;
  background-color: rgb(38, 38, 38);
  color: white;
  font-size: 14px;
}

.todo {
  width: 77.5%;
  margin-left: 15px;
  cursor: pointer;
}

.active {
  background-color: rgb(30, 111, 159) !important;
}

.clearBtn {
  position: absolute;
  left: 86.5%;
  width: 100px;
  background-color: rgb(30, 111, 159) !important;
}

.tooltip_cont {
  width: 80%;
  position: relative;
}

.tooltip {
  position: absolute;
  color: rgb(128, 128, 128);
  background-color: rgb(255, 255, 255);
  padding: 0 5px 0 5px;
  left: 40%;
}
